<% layout("/layouts/boilerplate.ejs") -%>
<body>
  <div class="row">
    <div class="col-md-8 offset-2 createNew">
      <h3>Edit Property</h3>
      <form
        method="post"
        action="/listings/<%=listing._id%>?_method=put"
        class="needs-validation"
        enctype="multipart/form-data"
        novalidate
      >
        <div class="mb-3">
          <label for="title" class="form-lable"> Title </label>
          <input
            name="listing[title]"
            value="<%=listing.title%>"
            class="form-control"
            type="text"
            required
          />
          <div class="invalid-feedback">Title is required...</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-lable"> Description </label>
          <input
            name="listing[description]"
            class="form-control"
            type="text"
            required
            value="<%=listing.description%>"
          />
          <div class="invalid-feedback">Description is required...</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="price" class="form-lable"> Price </label>
            <input
              name="listing[price]"
              class="form-control"
              value="<%=listing.price%>"
              type="number"
              required
            />
            <div class="invalid-feedback">Enter Proper Price!</div>
          </div>
          <div class="mb-3 col-md-6">
            <label for="location" class="form-lable"> Location </label>
            <input
              name="listing[location]"
              class="form-control"
              value="<%=listing.location%>"
              type="text"
              required
            />
            <div class="invalid-feedback">Select Your Location!!!</div>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="country" class="form-lable"> Country </label>
            <input
              name="listing[country]"
              class="form-control"
              value="<%=listing.country%>"
              type="text"
              required
            />
            <div class="invalid-feedback">Select Your Country!!!</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-lable"> Original Image </label><br />
          <img class="edit-img" src="<%=originalUrl%>" alt="Listing Image" />
        </div>
        <div class="mb-3">
          <label for="image" class="form-lable"> Upload Image</label>
          <input name="listing[image]" class="form-control" type="file" />
          <div class="invalid-feedback">Please Upload Image</div>
        </div>
        <div class="mb-3">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01"
              >Category</label
            >
            <select
              class="form-select"
              id="inputGroupSelect01"
              name="listing[category]"
              required
            >
              <option selected><%=listing.category%></option>
              <option value="AmazingPools">Amazing Pools</option>
              <option value="Artic">Artic</option>
              <option value="Beach">Beach</option>
              <option value="Castels">Castels</option>
              <option value="Camps">Camps</option>
              <option value="Domes">Domes</option>
              <option value="IconicCities">Iconic Cities</option>
              <option value="Mountains">Mountains</option>
              <option value="Rooms">Rooms</option>
              <option value="Vila">Vila</option>
            </select>
          </div>
          <div class="invalid-feedback">Select Your Category!!!</div>
        </div>
        <button class="btn edit-btn btn-dark mb-2">Edit</button>
      </form>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
